.bar {
	fill: #4124bd;
}
.bar:hover {
	fill: #f2844b;
}

.axis {
	font: 10px sans-serif;
}
.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
.axis.x path {
	display: none;
}